spring:
  application:
    name: backend-assignment
  profiles:
    active: local
  app:
    ai:
      api-key: ${AI_API_KEY:}
springdoc:
  default-produces-media-type: application/json
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
    groups-order: DESC
---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: user
    password: ""
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop



jwt:
  secret: your-jwt-secret-key-that-is-at-least-256-bit-long-and-secure # 256비트 이상의 강력한 비밀 키
  access-token-expiration: 3600000 # 1시간 (밀리초)
  refresh-token-expiration: 604800000 # 7일 (밀리초)
